<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Titulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Hola holita esta es mi paginita</p>
    <ion-button>Hacer algo</ion-button>

    <ion-list>
      <ion-item *ngFor="let s of shops">
        <p> {{s.marca}}  {{s.modelo}} </p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
